* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(0, 128, 255);
}

.container{
    background: white;
    width: 450px;
    padding: 28px;
    border-radius: 7px;
}

.container .pasw-field{
    height: 65px;
    width: 100%;
    position: relative;
}

.pasw-field input{
    width: 100%;
    height: 100%;
    padding: 0 28px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #999;
}

.pasw-field i{
    right: 18px;
    position: absolute;
    top: 50%;
    color: #999;
    cursor: pointer;
    font-size: 18px;
    transform: translateY(-50%);
}

.container .content{
    margin: 20px 0 10px;
}

p{
    font-size: 20px;
}

.requirement-list{
    margin-top: 20px;
}

.requirement-list li{
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requirement-list li.valid i{
    font-size: 18px;
    color: rgb(0, 128, 255);
}

.requirement-list li i{
    color: #999;
    width: 20px;
    font-size: 8px;
}

.requirement-list li span{
    margin-left: 12px;
}

.requirement-list li.valid span{
    color: #999;
}